GISTING_MODELS_DIR=
GISTING_CANDIDATES=
GISTING_ALLOW_PATTERNS_OVERRIDE=
GISTING_TOKENIZER_PIN=
GISTING_HUB_ENDPOINT=https://huggingface.co
GISTING_HUB_RETRIES=5
GISTING_HUB_BACKOFF=2
HF_TOKEN=
GISTING_EMAIL_SECRET=
SHOPIFY_CLIENT_SECRET=
GISTING_MODEL_DIR=
GISTING_DEVICE=
GISTING_GIST_DIR=
PYTORCH_MPS_HIGH_WATERMARK_RATIO=0.7
PYTORCH_MPS_LOW_WATERMARK_RATIO=0.5
GISTING_EVAL_CASES_BASE=
GISTING_TURNSTILE_SECRET=
GISTING_IP_SALT=
GISTING_PRIMARY_URL=
GISTING_BACKUP_URL=
GISTING_ACCESS_CLIENT_ID=
GISTING_ACCESS_CLIENT_SECRET=
GISTING_COUNTER=
GISTING_SERVE_PORT=
GISTING_UPSTREAM_SECRET=
GISTING_TURNSTILE_EXTRA_HOSTNAMES=
